@CHARSET "ISO-8859-1";

/* Page Template */

/* Prevents page scaling below set size. */
html {
  min-width: 1000px;
}

/* Removes default page borders and sets global font. */
body {
  font: normal 12px/1.5 Palatino, Georgia, Times, serif;
  margin: 0;
  padding: 0;
}

/* service bar */
#service {
  background: rgb(96,108,136); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwNmM4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZjRjNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,108,136,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-8 */
  
  width: 100%;
  height: 45px;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;
  border-bottom-style: solid;
  border-width: 1px;
  position: fixed;
  z-index: 75;
}

#service-content {
  width: 1000px;
  height: 46px;
  margin: 0px auto;
  padding: 0px; 
  z-index: 76;
}

#wrapper {
  width: 1000px;
  margin: 0px auto;
  padding: 0;
  position: relative;
  overflow: auto; /* Margin Collapse */
}

#header {
/*   background-color: #cccccc; */
  position: relative;
  z-index: 50;
  height: 250px;
  margin: 0;
  margin-top: 45px;
  padding: 0;
  text-align: center;
  border-bottom-style: solid;
  border-width: 1px;
}

#content {
/*   background-color: #003366; */
  min-height: 500px;
  margin: 0;
  padding: 5px;
}

#footer {
/*   background-color: blue;
  background: #000; */
  margin: 0; 
  height-min: 40px;
  border-top-style: solid;
  border-width: 1px;
}